In [12]:
import pandas as pd

df = pd.read_csv("Olist.csv")

# cette transformation est juste pour avoir int8 au lieu de int64
int_col = ["payment_sequential","payment_installments","review_score","product_photos_qty"]
object_col = ["order_item_id","customer_zip_code_prefix","seller_zip_code_prefix"]

for col in int_col:

    df[col] = pd.to_numeric(df[col], errors='coerce',downcast='integer')

# for col in object_col:
    df[col] = df[col].astype(str)
    
df.head()

,order_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value,order_item_id,...,review_answer_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name,product_photos_qty
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02,2017-10-10,2017-10-18,1,credit_card,1,18.12,1.0,...,2017-10-12,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP,Home,4
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02,2017-10-10,2017-10-18,3,voucher,1,2.00,1.0,...,2017-10-12,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP,Home,4
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02,2017-10-10,2017-10-18,2,voucher,1,18.59,1.0,...,2017-10-12,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,9350,maua,SP,Home,4
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24,2018-08-07,2018-08-13,1,boleto,1,141.46,1.0,...,2018-08-08,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,31570,belo horizonte,SP,Health_Beauty,1
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08,2018-08-17,2018-09-04,1,credit_card,3,179.12,1.0,...,2018-08-22,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,14840,guariba,SP,Automotive,1

## Group by & AggrÃ©gation

In [13]:
# group by customer unique id

mode_col = ['payment_sequential','payment_type','payment_installments','product_id',
            'seller_id','customer_zip_code_prefix','customer_city','customer_state','seller_zip_code_prefix','seller_city']
mean_col = ['payment_value','price','freight_value','review_score','seller_state','product_category_name']
last_col = ['order_purchase_timestamp','order_delivered_customer_date','order_estimated_delivery_date','review_answer_timestamp']
count_col = ['order_id']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113232 entries, 0 to 113231
Data columns (total 26 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113232 non-null  object
 1   order_status                   113232 non-null  object
 2   order_purchase_timestamp       113232 non-null  object
 3   order_delivered_customer_date  113232 non-null  object
 4   order_estimated_delivery_date  113232 non-null  object
 5   payment_sequential             113232 non-null  int8
 6   payment_type                   113232 non-null  object
 7   payment_installments           113232 non-null  int8
 8   payment_value                  113232 non-null  float64
 9   order_item_id                  113232 non-null  float64
 10  product_id                     113232 non-null  object
 11  seller_id                      113232 non-null  object
 12  price                          113232 non-null  float64
 13  freight_value                  113232 non-null  float64
 14  review_id                      113232 non-null  object
 15  review_score                   113232 non-null  int8
 16  review_answer_timestamp        113232 non-null  object
 17  customer_unique_id             113232 non-null  object
 18  customer_zip_code_prefix       113232 non-null  int64
 19  customer_city                  113232 non-null  object
 20  customer_state                 113232 non-null  object
 21  seller_zip_code_prefix         113232 non-null  int64
 22  seller_city                    113232 non-null  object
 23  seller_state                   113232 non-null  object
 24  product_category_name          113232 non-null  object
 25  product_photos_qty             113232 non-null  int8
dtypes: float64(4), int64(2), int8(4), object(16)
memory usage: 19.4+ MB